// ================================================================================================================================================================================================================================================================================================================================
// MAIN \\
$maxWidthLayout: 1140;
$maxWidthContainer: 1140;
$minWidthBody: 320;
// MAIN \\
// ================================================================================================================================================================================================================================================================================================================================
