// ================================================================================================================================================================================================================================================================================================================================
// VARS \\
@import './assets/scss/vars';
// VARS \\
// ================================================================================================================================================================================================================================================================================================================================
// MIXINS \\
@import './assets/scss/mixins';
// MIXINS \\
// ================================================================================================================================================================================================================================================================================================================================
// FONTS \\
@import './assets/scss/fonts';
//** GOOGLE FONTS **\\
//! &display=swap&subset=cyrillic-ext

//** GOOGLE FONTS **\\
// DEFAULT FONT \\
$fontFamily: 'Arial';
$fontSize: 16;
$fontWeight: 400;
$mainColor: #000;
// DEFAULT FONT \\
// FONTS \\
// ================================================================================================================================================================================================================================================================================================================================
// RESET STYLES \\
@import './assets/scss/reset';
// RESET STYLES \\
// ================================================================================================================================================================================================================================================================================================================================
// SLIDER \\
// @import './assets/scss/slider';
// SLIDER \\
// ================================================================================================================================================================================================================================================================================================================================
// MODAL \\
// @import './assets/scss/modal';
// MODAL \\
// ================================================================================================================================================================================================================================================================================================================================
// HEADER \\
@import './assets/scss/header';
// HEADER \\
// ================================================================================================================================================================================================================================================================================================================================
// STYLE, UI \\
@import './assets/scss/ui';
@import './assets/scss/style';
// STYLE, UI \\
// ================================================================================================================================================================================================================================================================================================================================
// FOOTER \\
@import './assets/scss/footer';
// FOOTER \\
// ================================================================================================================================================================================================================================================================================================================================
